::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#3770FF;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#3770FF; 
  }
  body {
    overflow-x: hidden;
  }
.guidelines_1{
    width: 100vw;
    height: 100vh;
    background-color: #3770FF;
    color: white;
    display: flex;

    align-items: center;
    flex-direction: column;
    }
    .proceed_btn{
        font-size: 1.2rem;
        width: 20%;
        height: 10%;
        border-radius:15px ;
        background-color:white;
     border: none;
    }
    .above_btn{
     margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    