@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Cormorant+SC:wght@300;600&family=Dancing+Script:wght@500&family=Inter:wght@300&family=Kumar+One&family=Montserrat:wght@500&family=Pacifico&family=Rubik+Iso&display=swap');

.nav{
color:#3770FF;
font-weight: 900;
font-family: "Kumar One";
}
.full{
    width: 100vw;
    height: 10vh;
    background-color:rgb(72, 61, 139,0.2);

}
.flex1{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.no_decor{
    list-style-type: none;
}
.font1{
font-size: 1.2rem;

}
.li_1{
    margin-right: 20px;
}
.li_2{
    margin-right: 500px;
}.li_3{
    margin-right: 80px;
}.li_4{
    margin-right: 80px;
}.li_5{
    margin-right: 80px;
}.li_6{
    margin-right: 40px;
}
.li_7{
    margin-right: 40px;
}
