.questions_1{
  
    background-color:#3770FF;;
    width:80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    align-items: center;
   
}
.Question{
    border: 2px solid whitesmoke;
    margin-top: 10%;
height: 20%;
width:60% ;
background-color:#3770FF;;
}
.answers{
      border: 2px solid whitesmoke;
    background-color:#3770FF;;
    height:10%;
    width:60%;
   
}
.text_center{
    text-align: center;
}
.buttons{
    margin-top: 2%;
    width: 100%;
    height:5%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}